# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.suo
*.user

# Secrets / config locale
.env
*.env
secrets.py

# OS
.DS_Store
Thumbs.db
